[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.6.3"

[packages]
ripgrepy = "*"
pyjks = "==18.0.0"
xmltodict = "==0.11.0"
asn1crypto = "==0.24.0"
cffi = "==1.11.5"
cryptography = "==2.3.1"
idna = "==2.7"
javaobj-py3 = "==0.2.4"
pyasn1-modules = "==0.2.2"
pyasn1 = "==0.4.4"
pycparser = "==2.18"
pycryptodome = "==3.6.6"
six = "==1.11.0"
twofish = "==0.3.0"
pyOpenSSL = "==18.0.0"
python-magic = "*"

[requires]
python_version = "3.7"
