ripgrepy
asn1crypto
cffi==1.14.0
cryptography==3.2
idna
javaobj-py3
pyasn1-modules
pyasn1
pycparser
pycryptodome
pyjks
pyopenssl
python-magic
six
twofish
xmltodict
#https://github.com/lief-project/packages/raw/lief-master-latest/pylief-0.9.0.dev.zip
